<h3 style="margin-left: 1em;">Carrito de Compras</h3>  
<div class="row">
    <div class="col-8">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col" style="width:8em">Eliminar</th>
                <th scope="col">Nombre del Producto</th>
                <th scope="col" style="width:8em">Cantidad</th>
                <th scope="col" style="width:8em">Precio</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td><button type="button" class="btn btn-danger pt-1 btn-block px-0 mr-2" style="width: 100px"><i class="fas fa-trash-alt"></i> Eliminar</button></td>
                    <td>Nombre del producto</td>
                    <td>##</td>
                    <td>$##</td>
                </tr>
                <tr>
                    <td><button type="button" class="btn btn-danger pt-1 btn-block px-0 mr-2" style="width: 100px"><i class="fas fa-trash-alt"></i> Eliminar</button></td>
                    <td>Nombre del producto</td>
                    <td>##</td>
                    <td>$##</td>
                </tr>
            </tbody>
        </table>
    </div> <!--col-12-->
    <div class="col-4">
        total
    </div>
</div> <!--Row-->
