<main >
    <div >
        <div class="forms">
            <div class="row">
                <div class="col border-right border-gray" id="colRegistro">
                    <header>
                        <h1>Registrarse</h1>
                        <p class="subhead">Rellene los campos para poder registrarse</p>
                    </header>
                    <div class="form-section login-form-section">
                        <!-------------FORM REGISTRO SESION------------------------------------------->
                        <form name="signup_form" method="post"  class="std-form login-form form-area" id="signup_form">
                            <!-----------------------------CAMPOS------------------------>
                            <div class="fields">
                                <p><label for="login_form_name" class="required"><span class="label-text">Nombre </span><input type="text" id="login_form_name" name="login_form[name]" required="required" tabindex="1" pattern="^[\x04-\x7A]{3,}$" data-pattern-mismatch-message="Utiliza un correo electrónico o nombre de usuario válido." data-missing-value-message="Utiliza un correo electrónico o nombre de usuario válido." class="validated-input user-success"></label></p>
                                <p><label for="login_form_name" class="required"><span class="label-text">Apellido Paterno </span><input type="text" id="login_form_name" name="login_form[name]" required="required" tabindex="1" pattern="^[\x00-\x7F]{3,}$" data-pattern-mismatch-message="Utiliza un correo electrónico o nombre de usuario válido." data-missing-value-message="Utiliza un correo electrónico o nombre de usuario válido." class="validated-input user-success"></label></p>
    
                                <p><label for="login_form_name" class="required"><span class="label-text">Apellido Materno </span><input type="text" id="login_form_name" name="login_form[name]" required="required" tabindex="1" pattern="^[\x00-\x7F]{3,}$" data-pattern-mismatch-message="Utiliza un correo electrónico o nombre de usuario válido." data-missing-value-message="Utiliza un correo electrónico o nombre de usuario válido." class="validated-input user-success"></label></p>
                                <p>
                                    <label for="date">Fecha de Nacimiento</label>
                                    <label><input type="date" id="date"></label>
                                </p>
                                <p><label for="login_form_password" class="required"><span class="label-text">Contraseña</span><input type="password" id="login_form_password" name="login_form[password]" required="required" tabindex="2" pattern="\S{6,}" data-pattern-mismatch-message="La contraseña debe tener al menos 6 caracteres, sin espacios." data-missing-value-message="La contraseña debe tener al menos 6 caracteres, sin espacios." class="validated-input user-success"></label></p>
                                <p>
                                    <label for="login_form_name" class="required"><span class="label-text">Correo Electronico </span>
                                        <input type="email" id="signup_with_profile_email" name="signup_with_profile[email]" required="required" pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{1,}$" data-pattern-mismatch-message="Usa una dirección de correo válida." data-missing-value-message="Favor de ingresar un correo electrónico válido">

                                        
                                    </label>
                                </p>
                            </div>
                            <!-----------------------------CAMPOS------------------------>
                            <button type="submit" class="btn btn-outline-primary">Registrarse </button>
                        
                            
                            <input type="hidden" id="login_form_redirect_url" name="login_form[redirect_url]" value="/"><input type="hidden" id="login_form__token" name="login_form[_token]" value="TmxGpIEr8sYuUkdppH77rcemRIPdWHFcDD78nuM0WHk">
                          
                        </form>
                         <!-------------FORM REGISTRO SESION------------------------------------------->
                    </div>
                   
                </div>
                <div class="col"id="colLogin">
                    <!-------------FORM INICIO SESION------------------------------------------->
                    <div class="form-section signup-form-section">
                        <header>
                            <h1>Iniciar Sesión</h1>
                        </header>
                        <form name="login_form" method="post"  class="std-form login-form form-area" id="login_form">
                            <!---------------------------CAMPOS----------------->
                            <div class="fields">
                                <p><label for="login_form_name" class="required"><span class="label-text">Correo Electronico </span><input type="text" id="login_form_name" name="login_form[name]" required="required" tabindex="1" pattern="^[\x00-\x7F]{3,}$" data-pattern-mismatch-message="Utiliza un correo electrónico o nombre de usuario válido." data-missing-value-message="Utiliza un correo electrónico o nombre de usuario válido." class="validated-input user-success"></label></p>
                                <p><label for="login_form_password" class="required"><span class="label-text">Contraseña <span class="info forgot-password-link"><a href="#"tabindex="3">¿Olvidaste tu contraseña? </a></span></span><input type="password" id="login_form_password" name="login_form[password]" required="required" tabindex="2" pattern="\S{6,}" data-pattern-mismatch-message="La contraseña debe tener al menos 6 caracteres, sin espacios." data-missing-value-message="La contraseña debe tener al menos 6 caracteres, sin espacios." class="validated-input user-success"></label></p>
                            </div>
                            <!---------------------------CAMPOS----------------->
                            <button type="submit" class="btn btn-outline-primary">Iniciar sesion </button>
                            <input type="hidden" id="login_form_redirect_url" name="login_form[redirect_url]" value="/"><input type="hidden" id="login_form__token" name="login_form[_token]" value="TmxGpIEr8sYuUkdppH77rcemRIPdWHFcDD78nuM0WHk">
                         <!-------------FORM REGISTRO SESION------------------------------------------->
                        </form>
                    </div>  
                </div>
            </div>
        </div>
    </div>
</main>