<main>
    <div class="container ">
        <div class="row mt-10 mb-10"id="Resumen">
            <div class="col-6 " id="imagen"> 
                <img src="{{product.imgUrl}}" class="card-img-top mb-1 ml-1 mr-1 my-2  pl-3 pr-3 ">
                
                
            </div>
            <div class="col-6">
                <div class="row" id="detalle">
                    <ul>
                       <li class="h3">{{product.nombre}}</li>

                        <li class="h4 muted">Marca: {{product.marca}}</li>
                        <li class="h4">Detalles : {{product.descripcion}}</li>

                        <li class="h5 muted">Stock: {{product.stock}}</li>

                    
                        <li class="h3">Precio : ${{product.precio}}<span class="h4">+iva</span></li>

                    </ul>
                    
                </div>
                <div class="row" id="comprar">
                    
                    <button type="submit" class="btn btn-outline-dark"><i class="fas fa-shopping-cart"></i>Añadir al carro</button>
                </div>
            </div>
            
        </div>
        <div class="row" id="Feedback">
            Componente de reseña , detalles tecnicos del producto
        </div>
    </div>
</main>
   

    


