
    <div class="container ">
        <div class="row mt-10 mb-10"id="Resumen">
            <div class="col-6 " id="imagen"> 
                <img src="{{product.imgUrl}}" class="card-img-top mb-1 ml-1 mr-1 my-2  pl-3 pr-3 ">
                
                
            </div>
            <div class="col-6">
                <div class="row" id="detalle">
                    <ul>
                        <li>{{product.nombre}}</li>
                        <li>{{product.marca}}</li>
                        <li >{{product.nombre}}</li>
                        <li >{{product.precio}}</li>

                    </ul>
                    
                </div>
                <div class="row" id="comprar">
                    Aca para comprar
                    <button type="submit" class="btn btn-outline-dark">Añadir al carro</button>">
                </div>
            </div>
            
        </div>
        <div class="row" id="Feedback">
            Componente de reseña , detalles tecnicos del producto
        </div>
    </div>

    


